.login-page{
  min-height: 100vh;
  background: transparent url('../../assets/login/loginBG.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  .login-block{
    padding: 40px 30px 30px 30px;
    width: 387px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid rgba(88, 150, 139, 0.3);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(88, 150, 139, 0.15), 0 10px 20px rgba(88, 150, 139, 0.15);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-logo{
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .app-logo{
        width: 58px;
        height: 66px;
      }
      .title-logo{
        font-family: 'GilroyRegular';
        font-size: 48px;
        color: #19252E;
        margin: 10px 0 0;
      }
      .suptitle-logo{
        font-family: 'GilroyRegular';
        font-size: 14px;
        color: #19252E;
        opacity: 0.5;
      }
    }
    .custom-margin{
      margin-bottom: 15px;
    }
    .restore-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      .error-block{
        margin-top: 5px;
        font-family: 'GilroyRegular';
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 104, 104, 0.8);
        margin-left: -10px;
      }
      .restore-link{
        text-decoration-line: underline;
        color: rgba(22, 23, 33, 0.8);
        font-size: 16px;
        line-height: 20px;
        font-family: 'GilroyRegular';
        margin-top: 30px;
      }
    }
    .login-button{
      margin-top: 40px;
      width: 327px;
      height: 50px;
      background: #5DB9FF;
      font-family: 'GilroyRegular';
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 19px 0 16px;
      box-sizing: border-box;
      border: none;
      letter-spacing: 0.01em;
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
      color: #FFFFFF;
      outline: none;
      .right-icon{
        width: 19.24px;
        height: 19.01px;
      }
    }
    .login-button-disabled{
      margin-top: 40px;
      width: 327px;
      height: 50px;
      background: #5DB9FF;
      font-family: 'GilroyRegular';
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 19px 0 16px;
      box-sizing: border-box;
      border: none;
      letter-spacing: 0.01em;
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
      color: #FFFFFF;
      outline: none;
      .right-icon{
        width: 19.24px;
        height: 19.01px;
      }
      opacity: 0.5;
    }
  }
}
