.latest-message{
  width: 70%;
  height: 77px;
  background: #FFFFFF;
  border: 1px solid rgba(67, 133, 255, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 22px;
  justify-content: space-between;
  .message-content{
    display: flex;
    .avatar{
      margin-right: 20px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 2px solid #5DB9FF;
      box-sizing: border-box;
    }
    .message-text-block{
      display: flex;
      flex-direction: column;
      .name{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #161721;
        margin-bottom: 5px;
        font-family: 'GilroyRegular';
      }
      .text{
        font-size: 14px;
        line-height: 17px;
        color: #161721;
        opacity: 0.5;
        font-family: 'GilroyRegular';
      }
    }
  }
  .time-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .time{
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
      color: rgb(138, 138, 143);
      font-family: 'GilroyRegular';
    }
    .count-of-messages{
      margin-top: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #5DB9FF;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-family: 'GilroyRegular';
      line-height: 17px;
      color: #FFFFFF;
      letter-spacing: 0.01em;
    }
  }
}
