.custom-client-wrapper{
  display: flex;
  padding-bottom: 10px;
  .client-icon{
    border: 2px solid #5BBEB0;
    box-sizing: border-box;
    border-radius: 50%;
  }
  .client-description{
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .name-block{
      position: relative;
      .name{
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.01em;
        color: #161721;
        margin: 0;
        font-family: 'Rubik Regular';
      }
      .status{
        position: absolute;
        top: -5px;
        right: -37px;
        font-family: 'Rubik Regular';
        font-size: 10px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.8);
        opacity: 0.8;
      }
    }
    .rating-wrapper{
      margin-top: 5px;
      display: flex;
      align-items: center;
      .filled-icon{
        color: #5BBEB0;
        font-size: 14px;
        margin-right: 5px;
      }
      .empty-icon{
        color: rgb(183, 221, 215);
        font-size: 14px;
        margin-right: 3px;
      }
      .number-of-rating{
        color: #161721;
        font-size: 16px;
        font-family: 'Rubik Regular';
        line-height: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }
      .number-of-votes{
        color: rgba(22, 23, 33, 0.5);
        font-size: 16px;
        line-height: 20px;
        font-family: 'Rubik Regular';
      }
    }
  }
}
