.home{
  .title-block{
    border-bottom: 1px solid rgb(175, 177, 183);
    h1{
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      font-family: 'GilroyRegular';
      margin: 30px 0 30px 0;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: rgb(66, 67, 65);
    }
  }
  .content-block{
    margin-top: 20px;
    display: flex;
    .disputs-block{
      min-width: 635px;
      margin-right: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .loader{
        font-family: 'GilroyRegular';
        color: rgb(66, 67, 65);
        font-size: 14px;
      }
      .sub-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
        h2{
          margin-top: 3px;
          font-family: 'GilroyRegular';
          margin-bottom: 0;
          color: rgb(66, 67, 65);
        }
        .toggle-buttons{
          width: 318px;
          display: flex;
          height: 35px;
          overflow: hidden;
          border: 1px solid rgb(198, 214, 216);
          border-radius: 10px;
          button{
            width: 50%;
            height: 100%;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            border: none;
            font-family: 'GilroyRegular';
            cursor: pointer;
            outline: none;
          }
          .active-button{
            background-color: #5DB9FF;
            color: #fff;
            outline: none;
          }
          .inactive-button{
            background-color: transparent;
            color: rgb(175, 177, 183);
            outline: none;
          }
        }
      }
      .infinite-scroll-component{
        overflow: visible!important;
        margin: 0px 0;
        .card{
          display: flex;
          background: #FFFFFF;
          box-shadow: 0px 10px 24px rgba(171, 215, 255, 0.1);
          border: 1px solid rgba(93, 185, 255, 0.3);
          margin: 10px 0;
          border-radius: 10px;
          padding: 20px;
          .client{
            .client-about{
              h1{
                font-family: 'GilroyRegular';
                font-size: 16px;
              }
              p{
                font-family: 'GilroyRegular';
                font-size: 14px;
              }
            }
            .client-box{
              display: flex;
              align-items: center;
              .avatar{
                width: 40px;
                height: 40px;
                margin: 0px 10px 0px 0px;
              }
              .client-title{
                width: 220px;
                align-items: center;
                .rate{
                  margin-top: 5px;
                }
                .name-box{
                  width: 165px;
                  align-items: center;
                  justify-content: space-between;
                  display: flex;
                  .name{
                    margin: 0;
                    font-family: 'GilroyRegular';
                    font-size: 18px;
                  }
                  .status{
                    font-size: 10px;
                    font-family: 'GilroyRegular';
                    opacity: 0.5;
                    margin:0px 0px 10px 5px;
                  }
                }
              }
            }
          }
          .vl{
            border-left: 1px solid #19252E;
            height: 135px;
            opacity: 0.2;
            margin: 0px 10px 0px 10px;
            align-self: center;
          }
          .agreement{
            padding: 0px 10px;
            font-family: 'GilroyRegular';
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .inner-box{
              .agreement-field{
                display: flex;
                justify-content: space-between;
                margin: 5px 0;
                .agreement-name{
                  font-weight: bold;
                  font-size: 18px;
                }
                .number{
                  font-weight: bold;
                  font-size: 18px;
                }
              }
              .agreement-date{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .date-box{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  .date-img{
                    width: 15px;
                    height: 16px;
                  }
                  .date{
                    margin-left: 5px;
                  }
                }
              }
            }
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
    .messages-block{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .title{
        width: 100%;
        font-family: 'GilroyRegular';
        margin: 7px 0 20px 0;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: rgb(66, 67, 65);
      }
      .message-items-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .infinite-scroll-component{
          overflow: visible!important;
        }
        .infinite-scroll-component__outerdiv{
          width: 100%;
        }
      }
    }
  }
}
